#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

build/
.gradletasknamecache
.gradle
out
node_modules
src/main/frontend/generated/
*.swp
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea

## File-based project format:
*.iws
*.iml
*.ipr

## OS Specific files
.DS_Store
/.gtm/
/logs/

.camel-jbang

.vscode

common/testing/src/main/resources/secrets.yml
out.txt

pom.xml
support/iso20022/**/schemas/*
.project
.settings
.classpath
bin
profile-out*
gradle-user-home
!modules/config/src/main/resources/jqassistant
modules/*/jqassistant
modules/**/asciidoc/**/*.pdf
index.pdf
.mifos
out
# The following files are generated/updated by vaadin-gradle-plugin
node_modules/
webpack.generated.js
target
pnpmfile.js
.npmrc
src/main/frontend/generated